# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#########################
# Root-level ignores
#########################

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

#########################
# Client folder ignores
#########################

# dependencies
/client/node_modules
/server/node_modules
/client/.pnp
/client/.pnp.*
client/.yarn/*
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
client/out/

# production
/client/build

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# env files
client/.env*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts
